---
import BlinkingText from "../../components/Preact/BlinkingText"
import ThreeCanvas from "../../components/ThreeCanvas.astro"
import { generateStaticPaths, useI18n } from "../../i18n/ui"
import Layout from "../../layouts/Layout.astro"
import Wrapper from "../../components/Wrapper.astro"
import SeeAlso from "../../components/SeeAlso.astro"
import MiniButton from "../../components/MiniButton.astro"
import GhostButton from "../../components/GhostButton.astro"

const { getRelativeUrl, useI18Text: t } = useI18n(Astro.url)

export const getStaticPaths = generateStaticPaths
---

<Layout title={t("nav.home")}>
  <ThreeCanvas>
    <Wrapper>
      <div class="flex my-auto px-10 py-6 md:max-w-md md:px-4 flex-col">
        <BlinkingText
          text="NAME HERE HERE NAME"
          class:list={"text-2xl font-bold"}
          odds={0.2}
          classOn="text-neutral-700"
          classOff="text-neutral-400"
          interval={500}
          client:load
        />
        <h1 class="tracking-tight text-text-muted">TS DEVELOPER</h1>
        <div class="flex gap-x-2 py-4 justify-center md:justify-start">
          <MiniButton
            icon="mdi:linkedin"
            text="Linkedin"
            alt="Linkedin Icon"
            side="left"
            href="./"
          />
          <MiniButton
            icon="mdi:github"
            side="left"
            text="Github"
            alt="Github Icon"
            href="./"
          />
        </div>
        <div class="flex gap-x-2">
          <GhostButton
            class="flex-grow md:max-w-[10rem]"
            text={t("nav.cv")}
            href={getRelativeUrl("/resume")}
          />
          <GhostButton
            text={".pdf"}
            icon="radix-icons:download"
            side="left"
            href={"./resume.pdf"}
          />
        </div>
      </div>
      <SeeAlso />
      <span class="absolute right-8 bottom-8">
        Source
        <a
          class="font-semibold hover:underline tracking-tight"
          href="https://github.com/lzldev/astro-portfolio"
        >
          <span class="font-normal">@</span>lzldev
        </a>
      </span>
    </Wrapper>
  </ThreeCanvas>
</Layout>
