---
import BlinkingText from "../../components/Preact/BlinkingText"
import ThreeCanvas from "../../components/ThreeCanvas.astro"
import { generateStaticPaths, useI18n } from "../../i18n/ui"
import Layout from "../../layouts/Layout.astro"
import Wrapper from "../../components/Wrapper.astro"
import SeeAlso from "../../components/SeeAlso.astro"
import MiniButton from "../../components/MiniButton.astro"
import GhostButton from "../../components/GhostButton.astro"

const { getRelativeUrl, useI18Text: t } = useI18n(Astro.url)

export const getStaticPaths = generateStaticPaths
---

<Layout title={t("nav.home")}>
  <ThreeCanvas>
    <Wrapper>
      <div class="my-auto flex flex-col px-10 py-6 md:max-w-md md:px-4">
        <!-- <BlinkingText
          text="NAME HERE HERE NAME"
          class:list={"text-2xl font-bold"}
          odds={0.8}
          classOn="text-neutral-400 dark:text-neutral-500"
          classOff="text-background-text dark:text-background-text-dark"
          interval={500}
          client:load
        /> -->
        <span
          class="text-2xl font-bold text-light-highlight dark:text-dark-highlight"
          >NAME HERE HERE NAME</span
        >
        <h1 class="text-light-muted dark:text-dark-muted">TS DEVELOPER</h1>
        <div class="flex justify-center gap-x-2 py-4 md:justify-start">
          <MiniButton
            icon="mdi:linkedin"
            text="Linkedin"
            alt="Linkedin Icon"
            side="left"
            href="./"
          />
          <MiniButton
            icon="mdi:github"
            side="left"
            text="Github"
            alt="Github Icon"
            href="./"
          />
        </div>
        <div class="flex gap-x-2">
          <GhostButton
            class="flex-grow md:max-w-[10rem]"
            text={t("nav.cv")}
            href={getRelativeUrl("/resume")}
          />
          <GhostButton
            text={".pdf"}
            icon="radix-icons:download"
            side="left"
            href={"./resume.pdf"}
          />
        </div>
      </div>
      <SeeAlso />
      <span class="absolute bottom-8 right-8">
        Source
        <a
          class="font-semibold tracking-tight hover:underline"
          href="https://github.com/lzldev/astro-portfolio"
        >
          <span class="font-normal">@</span>lzldev
        </a>
      </span>
    </Wrapper>
  </ThreeCanvas>
</Layout>
