---
import type { GetStaticPaths } from "astro";

import { Image, Picture } from "astro:assets";
import BlinkingText from "../../components/Preact/BlinkingText";
import ThreeCanvas from "../../components/ThreeCanvas.astro";
import { ui } from "../../i18n/ui";
import {
  getLangFromUrl,
  useRelativeLocaleURL,
  useTranslations,
} from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";
import Wrapper from "../../components/Wrapper.astro";

export const getStaticPaths = (() => {
  return Object.keys(ui).map((lang) => ({
    params: {
      locale: lang,
    },
  }));
}) satisfies GetStaticPaths;

import LinkedinIcon from "../../radix-icons/linkedin-logo.svg";
import GithubIcon from "../../radix-icons/github-logo.svg";
import ChevronRight from "../../radix-icons/chevron-right.svg";
import Download from "../../radix-icons/download.svg";

const getLink = useRelativeLocaleURL(Astro.url);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Home">
  <ThreeCanvas>
    <Wrapper>
      <div
        class="flex flex-1 flex-grow px-10 py-6 md:max-w-md md:px-4 flex-col"
      >
        <BlinkingText
          text="NAME HERE HERE NAME"
          class:list={"text-2xl font-bold"}
          odds={0.2}
          classOn="text-neutral-700"
          classOff="text-neutral-400"
          interval={500}
          client:load
        />
        <h1 class="tracking-tight text-neutral-600">TS DEVELOPER</h1>
        <div class="bg-d-400 flex gap-x-3 py-4">
          <div class="flex items-center gap-x-2">
            <Picture
              src={LinkedinIcon}
              alt="Linkedin Logo"
              class="w-8 h-8"
              loading="eager"
            />
            <span>Linkedin</span>
          </div>
          <a class="flex items-center gap-x-2 hover:underline">
            <Image
              src={GithubIcon}
              alt="Github Logo"
              class="w-8 h-8"
              loading="eager"
            />
            <span>Github</span>
          </a>
        </div>
        <div class="flex gap-x-2">
          <a
            class="flex items-center ring-opacity-40 ring-2 ring-gray-200 bg-opacity-40 hover:bg-gray-200 hover:text-background transition-colors rounded-md p-2"
            href="./resume"
          >
            <span class="flex-grow mr-16">
              {t("but.cv")}
            </span>
            <Image
              src={ChevronRight}
              alt="Right Icon"
              class="w-4 h-4"
              loading="eager"
            />
          </a>
          <a
            class="flex items-center ring-opacity-40 ring-2 ring-gray-200 bg-opacity-40 hover:bg-gray-200 hover:text-background transition-colors rounded-md p-2"
            href="./resumepdf"
          >
            <Image
              src={Download}
              alt="Download Icon"
              class="w-4 h-4 mr-1"
              loading="eager"
            />
             .pdf
          </a>
        </div>
      </div>
    </Wrapper>
  </ThreeCanvas>
</Layout>
