---
import ThreeCanvas from "../../components/ThreeCanvas.astro"
import { generateStaticPaths, useI18n } from "../../i18n/ui"
import Layout from "../../layouts/Layout.astro"
import Wrapper from "../../components/Wrapper.astro"
import SeeAlso from "../../components/SeeAlso.astro"
import MiniButton from "../../components/MiniButton.astro"
import { Grain } from "../../components/Preact/grain"

const { useI18Text: t } = useI18n(Astro.url)

export const getStaticPaths = generateStaticPaths
---

<Layout title={t("nav.home")}>
  <ThreeCanvas>
    <Wrapper>
      <div class="my-auto flex flex-col px-10 py-6 md:max-w-md md:px-4">
        <span
          class="bg-gradient-to-bl from-light-highlight to-light-muted bg-clip-text text-2xl font-bold text-transparent selection:text-light dark:from-dark-highlight dark:to-dark selection:dark:text-dark"
        >
          Lucas Costa
        </span>
        <h1 class="text-light-muted dark:text-dark-muted">
          {t("about.subtitle")}
        </h1>
        <div class="flex justify-center gap-x-2 py-4 md:justify-start">
          <MiniButton
            text="Linkedin"
            icon="mdi:linkedin"
            alt="Linkedin Icon"
            side="left"
            href="https://www.linkedin.com/in/lucas-costa-83b881275/"
          />
          <MiniButton
            text="Github"
            icon="mdi:github"
            side="left"
            alt="Github Icon"
            href="https://github.com/lzldev"
          />
        </div>
      </div>
      <SeeAlso />
      <span class="absolute bottom-8 right-8">
        Source
        <a
          class="font-semibold tracking-tight hover:underline"
          href="https://github.com/lzldev/astro-portfolio"
        >
          <span class="font-normal">@</span>lzldev
        </a>
      </span>
    </Wrapper>
  </ThreeCanvas>
</Layout>
