---
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon";
import BlinkingText from "../../components/Preact/BlinkingText";
import ThreeCanvas from "../../components/ThreeCanvas.astro";
import { ui } from "../../i18n/ui";
import {
  getLangFromUrl,
  useRelativeLocaleURL,
  useTranslations,
} from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";
import Wrapper from "../../components/Wrapper.astro";

export const getStaticPaths = (() => {
  return Object.keys(ui).map((lang) => ({
    params: {
      locale: lang,
    },
  }));
}) satisfies GetStaticPaths;

const getLink = useRelativeLocaleURL(Astro.url);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Home">
  <ThreeCanvas>
    <Wrapper>
      <div
        class="flex flex-1 flex-grow px-10 py-6 md:max-w-md md:px-4 flex-col"
      >
        <BlinkingText
          text="NAME HERE HERE NAME"
          class:list={"text-2xl font-bold"}
          odds={0.2}
          classOn="text-neutral-700"
          classOff="text-neutral-400"
          interval={500}
          client:load
        />
        <h1 class="tracking-tight text-text-muted">TS DEVELOPER</h1>
        <div class="bg-d-400 flex gap-x-2 py-4">
          <a
            class="group/link flex items-center gap-x-1 underline-offset-2 hover:underline"
            href=""
          >
            <Icon
              class="h-8 w-8 group-hover/link:scale-105 transition-transform duration-200"
              name="mdi:linkedin"
              alt="Linkedin Icon"
            />
            <span>Linkedin</span>
          </a>
          <a
            class="group/link flex items-center gap-x-2 underline-offset-2 hover:underline"
            href=""
          >
            <Icon
              class="h-8 w-8 group-hover/link:scale-105 transition-transform duration-200"
              name="radix-icons:github-logo"
              alt="Github Icon"
            />
            <span>Github</span>
          </a>
        </div>
        <div class="flex gap-x-2">
          <a
            class="group/link flex items-center ring-opacity-40 ring-2 ring-gray-200 bg-opacity-40 hover:bg-gray-200 hover:text-background transition-colors rounded-md p-2"
            href="./resume"
          >
            <span class="flex-grow mr-16">
              {t("but.cv")}
            </span>
            <Icon
              name="radix-icons:chevron-right"
              alt="Right Icon"
              class="w-4 h-4 group-hover/link:scale-110"
              loading="eager"
            />
          </a>
          <a
            class="group/pdf flex items-center ring-opacity-40 ring-2 ring-gray-200 bg-opacity-40 hover:bg-gray-200 hover:text-background transition-colors rounded-md p-2"
            href="./resumepdf"
          >
            <Icon
              name="radix-icons:download"
              alt="Download Icon"
              class="w-4 h-4 mr-1 group-hover/pdf:scale-110"
              loading="eager"
            />
             .pdf
          </a>
        </div>
      </div>
    </Wrapper>
  </ThreeCanvas>
</Layout>
