---
import type { GetStaticPaths } from "astro";
import LinksFooter from "../../components/Footer/LinksFooter.astro";
import CornerText from "../../components/CornerText.astro";
import StartCard from "../../components/StartCard.astro";
import LayoutWithTransitions from "../../layouts/LayoutWithTransitions.astro";
import BlinkingText from "../../components/Preact/BlinkingText";
import SingleViewContainer from "../../components/SingleViewContainer.astro";
import { ui } from "../../i18n/ui";
import {
  getLangFromUrl,
  useRelativeLocaleURL,
  useTranslations,
} from "../../i18n/utils";
import FooterLink from "../../components/Footer/FooterLink.astro";

export const getStaticPaths = (() => {
  return Object.keys(ui).map((lang) => ({
    params: {
      locale: lang,
    },
  }));
}) satisfies GetStaticPaths;

const getLink = useRelativeLocaleURL(Astro.url);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<LayoutWithTransitions title="Portfolio">
  <SingleViewContainer>
    <CornerText className="top-0 -right-1/3 rotate-45" />
    <div class="mt-auto"></div>
    <div
      class="mx-auto gap-y-4 flex flex-col max-w-md w-full bg-neutral-200 p-4 rounded-md bg-opacity-20 backdrop-blur-md"
    >
      <div class="text-left text-xl font-mono font-bold">
        <p class="text-highlight text-3xl">NAME HERE</p>
         TS Developer
        <BlinkingText
          text="BLINKING"
          classOn="text-highlight"
          classOff="text-regularText"
          odds={0.8}
          client:load
        />
      </div>
      <StartCard title={t("nav.about")} href={getLink("/about")} />
    </div>
    <div class="mt-auto"></div>
    <LinksFooter class="pb-2" />
  </SingleViewContainer>
</LayoutWithTransitions>
