---
import ThreeCanvas from "../../components/ThreeCanvas.astro"
import { generateStaticPaths, useI18n } from "../../i18n/ui"
import Layout from "../../layouts/Layout.astro"
import Wrapper from "../../components/Wrapper.astro"
import { getEntry } from "astro:content"
import Prose from "../../components/Prose.astro"
import { Icon } from "astro-icon"
import GhostButton from "../../components/GhostButton.astro"

export const getStaticPaths = generateStaticPaths

const { getRelativeUrl, useI18Text: t, lang } = useI18n(Astro.url)

const resume = await getEntry("resume", `${lang}/resume`)

const { Content } = await resume.render()
---

<Layout title={t("nav.cv")}>
  <ThreeCanvas>
    <Wrapper class:list={["px-0"]}>
      <div
        class="flex flex-col rounded-md px-4 py-6 backdrop-blur-xl sm:py-7 md:px-8"
      >
        <div class="flex justify-between pb-4 print:hidden">
          <GhostButton
            text={t("nav.goBack")}
            side="left"
            icon="radix-icons:chevron-left"
            stealth
            href={getRelativeUrl("/")}
            astro-data-history="swap"
          />
          <GhostButton
            text={t("download.cv")}
            side="left"
            icon="radix-icons:download"
            href={getRelativeUrl("/")}
            astro-data-history="swap"
          />
        </div>
        <div class="flex items-stretch justify-center">
          <Prose>
            <Content />
          </Prose>
        </div>
      </div>
    </Wrapper>
  </ThreeCanvas>
</Layout>
