---
import { getEntry, render } from "astro:content"
import GhostButton from "../../components/GhostButton.astro"
import Prose from "../../components/Prose.astro"
import ThreeCanvas from "../../components/ThreeCanvas.astro"
import Wrapper from "../../components/Wrapper.astro"
import { generateStaticPaths, useI18n } from "../../i18n/ui"
import Layout from "../../layouts/Layout.astro"

export const getStaticPaths = generateStaticPaths

const { getRelativeUrl, useI18Text: t, lang } = useI18n(Astro.url)

const resume = await getEntry("resume", `${lang}/resume`)

const { Content } = await render(resume as any)
---

<Layout title={t("nav.cv")}>
  <ThreeCanvas>
    <Wrapper class:list={["px-0 pt-14"]} id="tbprint">
      <div
        class="flex flex-col rounded-md px-4 py-6 backdrop-blur-xl sm:py-7 md:px-8"
      >
        <div class="flex justify-between pb-4 print:hidden">
          <GhostButton
            stealth
            text={t("nav.goBack")}
            side="left"
            icon="radix-icons:chevron-left"
            href={getRelativeUrl("/")}
            astro-data-history="swap"
          />
          <GhostButton
            text={t("download.cv")}
            side="left"
            icon="radix-icons:download"
            href={getRelativeUrl("/")}
            astro-data-history="swap"
          />
        </div>
        <div class="items-stretch justify-center md:p-2">
          <Prose>
            <Content />
          </Prose>
        </div>
      </div>
    </Wrapper>
  </ThreeCanvas>
</Layout>
