---
export const prerender = false
---

<div>
  this page fixes the bug in <a
    href="https://github.com/withastro/astro/issues/12744">issue 12744</a
  >
   by exporting the prerender as false
</div>
