---
interface Props {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<div
  class:list={[
    className,
    "bg-stone-400 text-neutral-600 ring-2 rounded-md ring-stone-700 p-2 group/card",
  ]}
  class=""
  {...props}
>
  <slot />
</div>
