---
type Props = {
  id?: string
  className?: string
}

const { id, className } = Astro.props
---

<div
  id={id}
  class:list={[
    "absolute w-[25rem] h-[25rem] from-background to-transparent bg-gradient-radial -z-10 animate-ping duration-200",
    className,
  ]}
>
</div>
