---
import { Icon } from "astro-icon"
import type { HTMLAttributes } from "astro/types"

export interface Props extends HTMLAttributes<"a"> {
  text: string
  stealth?: true
  icon?: string
  side?: "left" | "right"
  inverted?: boolean
}

const {
  text,
  stealth,
  icon = "radix-icons:chevron-right",
  side = "right",
  ...props
} = Astro.props
---

<a
  class:list={[
    "group/link flex cursor-pointer items-center gap-x-2 rounded-md bg-opacity-40 p-2 ring-opacity-40 transition-colors selection:bg-transparent hover:bg-light-muted hover:text-background hover:dark:bg-dark dark:hover:text-dark-muted",
    !stealth && "ring-2 ring-light dark:ring-dark",
    props["class"],
  ]}
  {...props}
>
  {side === "right" && <span class="flex-grow">{text}</span>}
  <Icon
    name={icon}
    height="2em"
    width="2em"
    alt="Right Icon"
    class="h-5 w-4 text-light-highlight group-hover/link:scale-110 group-hover/link:text-background dark:text-dark-highlight group-hover/link:dark:text-dark-muted"
    loading="eager"
  />
  {side === "left" && <span class="text-end">{text}</span>}
</a>
