---
import { useI18n, getNextLanguage } from "../i18n/ui"

import { getRelativeLocaleUrl } from "astro:i18n"
import { Icon } from "astro-icon"

const { lang, name } = useI18n(Astro.url)
const nextLang = getNextLanguage(lang)
---

<div
  class="group/link absolute left-4 top-4 isolate max-h-fit max-w-fit tracking-tighter"
>
  <div class="relative flex flex-col">
    <a href={getRelativeLocaleUrl(nextLang.lang, "./")}
      ><Icon
        name="mdi:earth"
        height="2em"
        width="2em"
        alt="Globe Icon"
        class="h-8 w-8 text-light-muted transition-transform duration-200 dark:text-dark"
      /></a
    >
    <div
      class="absolute top-full hidden min-w-fit select-none flex-col group-hover/link:flex"
    >
      <div class="px-2">
        <div
          class="border-transparent-500 border-y-background-surface dark:border-y-background-dark-surface pointer-events-none h-[0px] min-h-[10px] w-[0px] border-x-4 border-b-[8px] border-x-transparent"
        >
        </div>
      </div>
      <div
        class="bg-background-surface w-[350px] max-w-fit rounded-md p-1 px-2 dark:bg-background-dark"
      >
        Change Language To {name}
      </div>
    </div>
  </div>
</div>
