---
import type { HTMLAttributes } from "astro/types"
import { Icon } from "astro-icon"

export interface Props extends HTMLAttributes<"a"> {
  icon?: string
  text: string
  alt: string
  underline?: boolean
  side?: "left" | "right"
}

const {
  icon = "radix-icons:chevron-right",
  side = "right",
  text,
  alt,
  ...props
} = Astro.props
---

<a
  class:list={["group/link flex items-center gap-x-2", props["class"]]}
  {...props}
>
  {side === "right" && <span>{text}</span>}
  <Icon
    name={icon}
    height="2em"
    width="2em"
    alt={alt}
    class="h-8 w-8 text-light-muted transition-transform duration-200 dark:text-dark"
  />
  {
    side === "left" && (
      <span class="relative">
        <div class="absolute inset-auto bottom-0.5 h-[1px] w-full scale-x-0 bg-light-muted transition-transform duration-500 ease-out group-hover/link:scale-x-100 dark:text-dark" />
        {text}
      </span>
    )
  }
</a>
