---
import {
  SupportedLanguages,
  SupportedLanguagesNames,
  useI18n,
} from "../i18n/ui"

import { getRelativeLocaleUrl } from "astro:i18n"
import { useTranslations } from "../i18n/utils"
import { Icon } from "astro-icon"

const { lang } = useI18n(Astro.url)

const {
  lang: nextLang,
  name,
  text,
} = (() => {
  const id = SupportedLanguages.indexOf(lang)
  const len = SupportedLanguages.length
  const next = SupportedLanguages.at((id + 1) % len)!
  const seeAlsoText = useTranslations(next)("nav.seeAlso")

  return {
    name: SupportedLanguagesNames[next],
    lang: next,
    text: seeAlsoText,
  }
})()
---

<div
  class="group/link fixed bottom-4 right-4 max-h-fit max-w-fit tracking-tighter md:left-4 md:top-4"
  href={getRelativeLocaleUrl(nextLang, "./")}
>
  <Icon
    name="icon-name"
    height="2em"
    width="2em"
    alt="Globe Icon"
    class="h-8 w-8 text-light-muted transition-transform duration-200 dark:text-dark"
  />
</div>
