---
import type { HTMLAttributes } from "astro/types"
import { Icon } from "astro-icon"

export interface Props extends HTMLAttributes<"a"> {
  icon?: string
  text: string
  alt: string
  underline?: boolean
  side?: "left" | "right"
}

const {
  icon = "radix-icons:chevron-right",
  side = "right",
  text,
  alt,
  ...props
} = Astro.props
---

<a
  class:list={[
    "group/link flex items-center gap-x-2 underline-offset-2 hover:underline",
    props["class"],
  ]}
  {...props}
>
  {side === "right" && <span>{text}</span>}
  <Icon
    name={icon}
    height="2em"
    width="2em"
    alt={alt}
    class="h-8 w-8 transition-transform duration-200 group-hover/link:scale-105"
  />
  {side === "left" && <span>{text}</span>}
</a>
