import Card from "./Card.astro";

<div class="flex max-h-[30vh] gap-x-4 w-3/4 mt-8">
  <Card class="overflow-hidden text-ellipsis">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod ipsa
    hic eveniet accusamus voluptate maiores corporis tenetur alias qui nesciunt
    ipsum, vitae cupiditate repellat deleniti asperiores unde incidunt illum?
    Totam deserunt, qui voluptates quisquam quam assumenda voluptate eaque
    excepturi! Unde nesciunt aperiam laboriosam accusantium nam sapiente magni
    quis voluptatum harum eaque voluptatem amet eius incidunt voluptates, facere
    qui nemo? Modi, vero. Dolorem maxime quas recusandae, veritatis voluptatem
    sequi provident corporis perspiciatis iste, ipsum sint laudantium cumque
    commodi. Eveniet animi ut consequatur suscipit est ea necessitatibus?
    Voluptatem consectetur voluptas aspernatur! Doloremque dolores ad,
    distinctio voluptatem eveniet praesentium quas dolore libero vel nisi fuga
    dicta neque consequuntur. Officia doloremque dolorum perspiciatis officiis
    magnam quasi quidem! In reiciendis iure iste provident aut.
  </Card><Card class="overflow-hidden text-ellipsis">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod ipsa
    hic eveniet accusamus voluptate maiores corporis tenetur alias qui nesciunt
    ipsum, vitae cupiditate repellat deleniti asperiores unde incidunt illum?
    Totam deserunt, qui voluptates quisquam quam assumenda voluptate eaque
    excepturi! Unde nesciunt aperiam laboriosam accusantium nam sapiente magni
    quis voluptatum harum eaque voluptatem amet eius incidunt voluptates, facere
    qui nemo? Modi, vero. Dolorem maxime quas recusandae, veritatis voluptatem
    sequi provident corporis perspiciatis iste, ipsum sint laudantium cumque
    commodi. Eveniet animi ut consequatur suscipit est ea necessitatibus?
    Voluptatem consectetur voluptas aspernatur! Doloremque dolores ad,
    distinctio voluptatem eveniet praesentium quas dolore libero vel nisi fuga
    dicta neque consequuntur. Officia doloremque dolorum perspiciatis officiis
    magnam quasi quidem! In reiciendis iure iste provident aut.
  </Card><Card class="overflow-hidden text-ellipsis">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod ipsa
    hic eveniet accusamus voluptate maiores corporis tenetur alias qui nesciunt
    ipsum, vitae cupiditate repellat deleniti asperiores unde incidunt illum?
    Totam deserunt, qui voluptates quisquam quam assumenda voluptate eaque
    excepturi! Unde nesciunt aperiam laboriosam accusantium nam sapiente magni
    quis voluptatum harum eaque voluptatem amet eius incidunt voluptates, facere
    qui nemo? Modi, vero. Dolorem maxime quas recusandae, veritatis voluptatem
    sequi provident corporis perspiciatis iste, ipsum sint laudantium cumque
    commodi. Eveniet animi ut consequatur suscipit est ea necessitatibus?
    Voluptatem consectetur voluptas aspernatur! Doloremque dolores ad,
    distinctio voluptatem eveniet praesentium quas dolore libero vel nisi fuga
    dicta neque consequuntur. Officia doloremque dolorum perspiciatis officiis
    magnam quasi quidem! In reiciendis iure iste provident aut.
  </Card>
</div>
