---
import {
  SupportedLanguages,
  SupportedLanguagesNames,
  useI18n,
} from "../i18n/ui"

import { getRelativeLocaleUrl } from "astro:i18n"
import { useTranslations } from "../i18n/utils"

const { lang } = useI18n(Astro.url)

const {
  lang: nextLang,
  name,
  seeAlsoText,
} = (() => {
  const id = SupportedLanguages.indexOf(lang)
  const len = SupportedLanguages.length
  const next = SupportedLanguages.at((id + 1) % len)!
  const seeAlsoText = useTranslations(next)("nav.seeAlso")

  return {
    name: SupportedLanguagesNames[next],
    lang: next,
    seeAlsoText: seeAlsoText,
  }
})()
---

<span class="absolute left-4 bottom-4 tracking-tighter">
  {seeAlsoText}
  <a class="font-semibold" href={getRelativeLocaleUrl(nextLang, "./")}>
    {name}
  </a>
</span>
