<main
  transition:name="container"
  transition:animate="slide"
  class="flex flex-col min-h-screen h-screen w-screen items-center justify-center max-w-[100vw]"
>
  <slot />
  <div
    transition:persist="bg-canvas"
    transition:animate="none"
    id="animation-root"
    class="absolute -z-50 min-h-screen w-full"
  >
  </div>
</main>
