<main
  transition:name="container"
  transition:animate="slide"
  class="flex flex-col min-h-screen h-screen w-screen items-center justify-center relative max-w-[100vw] overflow-hidden"
>
  <slot />
</main>
