---
import Card from "./Card.astro";
import arrow from "../../public/arrow-right.svg";
import { Image } from "astro:assets";

interface Props {
  title?: string;
  href: string;
}

const { href, title, ...props } = Astro.props;
---

<Card {...props}>
  <a {href} class="flex justify-between px-4">
    <slot
      ><span
        class="text-xl text-left font-bold font-mono group-hover/card:text-highlight"
        transition:name="title"
        transition:animate="slide"
      >
        {title}
      </span></slot
    >
    <Image
      src={arrow}
      alt="Arrow pointing right"
      width={16}
      class="fill-highlight"
    />
  </a>
</Card>
