---
interface Props {
  text: string
  href: string
}

const { text, href } = Astro.props
---

<>
  <a
    class="group/link inline-flex gap-x-1 decoration-highlight underline-offset-2 hover:underline"
    href={href}
  >
    <slot />
    <span>
      {text}
    </span>
  </a>
</>
