---
import DefaultHeader from "../components/DefaultHeader.astro"
import { useI18n } from "../i18n/ui"

interface Props {
  title: string
}

const { title } = Astro.props
const { lang } = useI18n(Astro.url)
---

<!doctype html>
<html lang={lang} transition:persist>
  <head>
    <DefaultHeader {title} />
  </head>
  <body
    class="relative flex min-h-screen w-full flex-col bg-background text-light antialiased transition-colors selection:bg-light-selection dark:bg-background-dark dark:text-dark"
    transition:name="main"
    transition:animate="slide"
  >
    <slot />
  </body>
</html>
