---
import DarkModeHeader from "../components/DarkModeHeader.astro";
import DefaultHeader from "../components/DefaultHeader.astro";
import DarkModeToggle from "../components/Preact/DarkModeToggle";
import ThreeCanvas from "../components/ThreeCanvas.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <DefaultHeader {title}>
      <slot name="head" />
    </DefaultHeader>
    <DarkModeHeader />
  </head>
  <body
    class="bg-background dark:bg-backgroundDark transition-colors selection:bg-highlightOff relative overflow-x-hidden"
  >
    <slot />
    <DarkModeToggle client:only />
  </body>
</html>
