---
import DarkModeHeader from "../components/DarkModeHeader.astro";
import DefaultHeader from "../components/DefaultHeader.astro";
import DarkModeToggle from "../components/Preact/DarkModeToggle";
import { useI18n } from "../i18n/ui";
interface Props {
  title: string;
}

const { title } = Astro.props;
const { lang } = useI18n(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <DefaultHeader {title} />
  </head>
  <body
    transition:persist="body"
    class="bg-background selection:bg-highlight dark:bg-background-dark text-regular-text transition-colors selection:bg-highlightOff relative antialiased"
  >
    <main
      transition:name="main"
      transition:animate="slide"
      class="flex flex-col min-h-screen w-full relative"
    >
      <slot />
    </main>
    <DarkModeToggle
      transition:name="darkMode"
      transition:persist="darkMode"
      client:only="preact"
    />
  </body>
</html>
