---
import DefaultHeader from "../components/DefaultHeader.astro";
import ThreeCanvas from "../components/ThreeCanvas.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <DefaultHeader {title}>
      <slot name="head" />
    </DefaultHeader>
  </head>
  <body
    id="root"
    transition:persist
    class="bg-background relative bg-noise selection:bg-highlight-off"
  >
    <slot />
    <div
      class="fixed inset-0 min-h-screen w-full -z-50"
      id="animation-root"
      transition:persist="background"
    >
      <ThreeCanvas />
    </div>
  </body>
</html>
